<!DOCTYPE html>
<html lang="en">
<head>
  <title>Header</title>
</head>
<body>
  <h3>Tiny URL Converter</h3><br>
  <% if (user) {%>
    <h5>User email:</h><strong><%= user.email%></strong>
    <form method="POST" action="/logout">
      <input type="submit" value="Logout"><br>
    </form>
    <a href="/urls/new" style="font-size: 18px">New</a>
  <%} else {%>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  <%}%>
</body>
</html>



