<!DOCTYPE html>
<html lang="en">
<head>
  <title>Header</title>
</head>
<body>
  <form method="POST" action="/login">
  <input type="text" name="username">
  <input type="submit" value="submit">
  </form>
</body>
</html>
