<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <h5>Register</h5>
  <form method="POST" action="/register">
    <input type="email" name="email">
    <input type="password" name="password">
    <input type="submit" value="Submit">
  </form>
</body>
</html>
