<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<header>
  <% include partials/_header %>
</header>

<body>
   <li>
      <li>Tiny URL Converter<a href="#"></a></li>
      <% for (let title in urls) {%>
      <a href="/urls/<%= title %>">Edit</a>
      <form method="POST" action="/urls/<%= title %>/delete">
      <button>Delete</button>
      <li><%= title %> - <%= urls[title] %></li>
    <% } %>
   </li>
   </form>
</body>
</html>
