<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>


<body>
  <form method="POST" action="/register">
    <input type="email" name="email">
    <input type="password" name="password">
  </form>


</body>
</html>
