<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<header>
  <% include partials/_header %>
</header>

<body>
<li><%= shortURL %> - <%= urls[shortURL] %></li>  <!--- This line calls the render method from server.js file and displays them in a list--->
 <form>
    <input></input>
    <button></button>
  </form>
</body>
</html>
