<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<header>
  <% include partials/_header %>
</header>

<body>
<!--- This line calls the render method from server.js file and  displays them in a list--->
<li><%= shortURL %> - <%= url %></li>
  <!----the :id refers to when the address has anthying in this spot, its a placeholder ---->
 <form method="POST" action="/urls/<%= shortURL %>">
    <input type="text" name="longURL" placeholder="http://" style="width: 300px">
    <input type="submit" value="Submit">
  </form>
</body>
</html>
